---
import "../styles/global.css";

const {
  title = "Kiafa Destapaciones | Destapaciones en CABA y GBA",
  description = "Destapaciones en CABA y GBA. Cloacas, cañerías, baños, cocinas, pluviales y video inspección.",
  keywords = "destapaciones, kiafadestapaciones, destapaciones caba, destapaciones liniers, destapación de cañerías, destapación de desagues, destapación pluviales, destapación de baños, destapación de cocinas, destapaciones 24 horas, destapaciones sin roturas",
  canonical = Astro.url.href, 
} = Astro.props;

---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow">
    <meta name="author" content="Kiafa Destapaciones" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_AR" />
    <meta property="og:url" content={canonical} />
    <meta property="og:site_name" content="Kiafa Destapaciones" />
    <meta name="author" content="Kiafa Destapaciones" />
    <meta name="theme-color" content="#0f172a">
    
    <link rel="shortcut icon" href="/favicon.ico">
    
    <link rel="manifest" href="/site.webmanifest">
    <link rel="canonical" href={canonical} />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Kiafa Destapaciones",
        "image": "https://kiafadestapaciones.com.ar/logo-kiafa.webp",
        "@id": "https://kiafadestapaciones.com.ar",
        "url": "https://kiafadestapaciones.com.ar",
        "telephone": "+541154298197",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Avenida General Paz 11916",
          "addressLocality": "Liniers",
          "addressRegion": "CABA",
          "postalCode": "1408",
          "addressCountry": "AR"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": -34.65443441598698,
          "longitude": -58.5267015325151
        },
        "openingHoursSpecification": {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "opens": "08:00",
          "closes": "17:00"
        },
        "sameAs": [
          "https://www.instagram.com/kiafa_destapaciones/"
        ],
        "areaServed": [
          {
            "@type": "City",
            "name": "Buenos Aires"
          },
          {
            "@type": "State",
            "name": "Gran Buenos Aires"
          }
        ],
        "serviceType": [
          "Destapaciones de cañerías",
          "Destapaciones cloacales",
          "Destapaciones de baños",
          "Destapaciones de cocinas",
          "Destapaciones pluviales",
          "Destapaciones 24 horas"
        ]
      }
    </script>
  </head>

  <body>
    <slot />
  </body>
</html>
